<!DOCTYPE html>
<html lang="en" ng-app="app" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-controller="PrenomCtrl">
<!--
6 - Controller : une fonction constructeur qui nous permet d'écrire
du code JS en lien avec le scope d'une balise
7 - Injection de dépendance : pour un controlleur et d'autre type
de composant, déclarer un paramètre d'entrée exprime une demande
de dépendance (donne moi l'objet ou le service, ex: $scope ou $http)
Les services doivent avoir été créé et inclus
8 - Module : convention Angular 1 module = 1 fichier
9 - Annotation : les services doivent être également écrit sous
la forme d'un String pour minifier le code
-->
<div>
    Prénom : <input ng-model="prenom">
    <button ng-click="ajouter(prenom)">+</button>
</div>

<p ng-repeat="prenom in prenoms track by $index">
    Bonjour <span ng-bind="prenom"></span> !!!
</p>
<script>
    var module = angular.module('app', []);
    module.controller('PrenomCtrl', ['$scope', function($scope) {
        $scope.prenoms = [];

        $scope.ajouter = function(p) {
            $scope.prenoms.push(p);
        };
    }]);
</script>
</body>
</html>